<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ExcelHost.ExcelService"
               behaviorConfiguration="ExcelServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/excel"/>
          </baseAddresses>
        </host>
        <endpoint binding="netNamedPipeBinding"
                  bindingConfiguration="ExcelServiceBinding"
                  behaviorConfiguration="ExcelServiceEndpointBehavior"
                  contract="ExcelService.IExcelService"/>
        <endpoint address="mex"
                  binding="mexNamedPipeBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>
    <client>
      <endpoint name="ExcelClient"
                address="net.pipe://localhost/excel"
                binding="netNamedPipeBinding"
                bindingConfiguration="ExcelServiceBinding"
                behaviorConfiguration="ExcelServiceEndpointBehavior"
                contract="ExcelService.IExcelService"/>
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="ExcelServiceBinding"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxDepth="2147483647"
                        maxNameTableCharCount="2147483647"
                        maxStringContentLength="2147483647"/>
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExcelServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ExcelServiceEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>